# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Perform an ETL process with multiple tables and create a single dataset

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this SQL query to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
            WHERE type='table'
            ORDER BY name;
```

In [5]:
# Your code here
import sqlite3 as sql
import pandas as pd

In [6]:
cnx = sql.connect('lego.db')

In [7]:
cursor = cnx.cursor()
cursor

In [15]:
tables = cursor.execute("""SELECT name FROM sqlite_master
            WHERE type='table'
            ORDER BY name;""").fetchall()

In [16]:
tables = [item for sublist in tables for item in sublist]
tables

['product_details', 'product_info', 'product_pricing', 'product_reviews']

In [44]:
tables

['product_details', 'product_info', 'product_pricing', 'product_reviews']

In [45]:
dfs = []
for x in tables:
    df = pd.DataFrame(cursor.execute("""select * from {}""".format(x)).fetchall())
    df.columns = [x[0] for x in cursor.description]
    dfs.append(df)

In [51]:
[x.head()for x in dfs]
dfs[1]

,prod_id,ages,piece_count,set_name
0,630,4+,1,Brick Separator
1,2304,1½-5,1,LEGO® DUPLO® Green Baseplate
2,7280,5-12,2,Straight & Crossroad Plates
3,7281,5-12,2,T-Junction & Curved Road Plates
4,7499,5-12,24,Flexible and Straight Tracks
...,...,...,...,...
739,853638,7+,61,THE LEGO® BATMAN MOVIE Batman™ Minifigure Coll...
740,2000409,6+,4900,Window Exploration Bag
741,2000414,6+,219,Starter Kit
742,2000430,6+,2631,Identity and Landscape Kit
743,2000431,6+,2455,Connections Kit

In [65]:
for i in range(df = dfs[0].merge(dfs[1],how='outer',on='prod_id')

,prod_id,prod_desc,prod_long_desc,theme_name,ages,piece_count,set_name
0,630,blah,blahblah,Classic,4+,1,Brick Separator
1,2304,blah,blahblah,DUPLO®,1½-5,1,LEGO® DUPLO® Green Baseplate
2,7280,blah,blahblah,City,5-12,2,Straight & Crossroad Plates
3,7281,blah,blahblah,City,5-12,2,T-Junction & Curved Road Plates
4,7499,blah,blahblah,City,5-12,24,Flexible and Straight Tracks
...,...,...,...,...,...,...,...
739,853638,blah,blahblah,THE LEGO® BATMAN MOVIE,7+,61,THE LEGO® BATMAN MOVIE Batman™ Minifigure Coll...
740,2000409,blah,blahblah,SERIOUS PLAY®,6+,4900,Window Exploration Bag
741,2000414,blah,blahblah,SERIOUS PLAY®,6+,219,Starter Kit
742,2000430,blah,blahblah,SERIOUS PLAY®,6+,2631,Identity and Landscape Kit
743,2000431,blah,blahblah,SERIOUS PLAY®,6+,2455,Connections Kit

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity! In this lab, you successfully executed an ETL process to merge different tables!